body {
	text-align: center;
}

.bd-callout {
  text-align: left;
  max-width: 800px;
  margin: auto;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid black;
  border-left-width: .25rem;
  border-radius: .25rem;
}

code {
  color: #6F94F7;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

#uploadSection {
  margin-bottom: 10px;
}

.uploadElements {
  display: inline-block;
}

#brutFile {
	max-width: 300px;
  margin-right: 10px;
}

.btn {
  margin-bottom: 4px;
}

.footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  background-color: transparent;
  text-align: center;
}